<div class="admin-component">
    <div class="admin-container">
        <h2>Category</h2>
        <div class="container">
            <div class="admin-header">
                <h3>List Of Category</h3>
                <a href="#modal-center" uk-icon="icon: plus" uk-toggle (click)="onClickAddBtn()"></a>
            </div>
            <div class="admin-body">
                <table class="uk-table uk-table-small uk-table-divider">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Category Name</th>
                            <th>Brand</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let res of categories">
                            <td>{{res.cat_slno}}</td>
                            <td>{{res.cat_name}}</td>
                            <td>{{res.cat_brand}}</td>
                            <td>
                                <button type="submit" uk-icon="icon: trash" (click)="deleteCategories(res.id)"></button> &nbsp; &nbsp;
                                <button type="button" uk-icon="icon: pencil" uk-toggle="target: #modal-center" (click)="editCategories(res)"></button>
                              </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
        <div id="modal-center" class="uk-flex-top modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">{{show_add_btn ? "Add Category" : "Update Category"}}</h3>
                    <button #ukclose class="uk-modal-close-default" type="button" uk-close></button>
                </div>
                <div class="uk-modal-body">
                    <form [formGroup]="formValue">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Sl. No</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" formControlName="cat_slno" id="form-horizontal-text" type="text" placeholder="Enter Sl. No">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Category Name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" formControlName="cat_name" id="form-horizontal-text" type="text" placeholder="Enter Category Name">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Select Brand</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="form-horizontal-select" formControlName="cat_brand" >
                                    <option>Select Brands</option>
                                    <option *ngFor="let brand of brands" value={{brand.id}}>{{brand.brand_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button *ngIf="show_add_btn" class="uk-button uk-button-primary" type="submit" (click)="addCategories()">
                                Create
                            </button>
                            <button *ngIf="show_update_btn" class="uk-button uk-button-primary" type="submit" (click)="updateCategories()">
                                Update
                            </button>
                        </div>
                    </form>
                </div>
                
    
            </div>
        </div>
    </div>

    
</div>