<div class="product-section" *ngFor="let item of selectedProducts;">
  <div class="product-container container-1">
    <div class="section">
      <img src="../../../../../../assets/about-section-2.jpg" alt="" />
    </div>
    <div class="section">
      <div class="row">
        
        <h1>{{item.pro_name}}</h1>
        <ng-container *ngFor="let stk of stocks;">
          <span>Availability: ({{stk.stk_status}})</span>
        </ng-container>
        <div class="row-container uk-divider">
          <div class="row-section">
            <!-- <h3>Price:</h3> -->
            <p class="ptag-bold">&#8377; {{item.pro_price}}</p>
          </div>
          <!-- <div class="row-section">
            <span>In stock :</span>
            <ng-container *ngFor="let stk of stocks;">
              <span>{{stk.stk_qty - item.pro_qty}}</span>
            </ng-container>
          </div> -->
        </div>
        <div class="row-container uk-divider">
          <p>{{item.pro_desc}}</p>
        </div>
        <div class="row-container uk-divider">
          <div class="row-section">
            <!-- <h3>Qty:</h3> -->
            <div class="column-section">
              <a (click)="increment_qty(item)">
                <svg
                  width="11"
                  height="11"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect x="9" y="1" width="1" height="17"></rect>
                  <rect x="1" y="9" width="17" height="1"></rect>
                </svg>
              </a>

              <span>{{item.pro_qty}}</span>

              <a (click)="decrement_qty(item)">
                <svg
                  width="11"
                  height="11"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect height="1" width="18" y="9" x="1"></rect>
                </svg>
              </a>
            </div>
          </div>
          <div class="row-section">
            <button class="cart" (click)="addToBasket();">Order Now</button>
          </div>
        </div>
        <div class="row-container display-block">
          <!-- <div class="row-section">
            <h3>Category:</h3>
            <p>{{itemCategory}}</p>
          </div> -->
          <div class="row-section">
            <h3>Tags:</h3>
            <p>{{item.pro_tag}}</p>
          </div>
          <div class="row-section">
            <h3>Share this product:</h3>
            <div class="social-media-icon">
              <a
                href=""
                class="uk-icon-button uk-margin-small-right"
                uk-icon="twitter"
              ></a>
              <a
                href=""
                class="uk-icon-button uk-margin-small-right"
                uk-icon="facebook"
              ></a>
              <a href="" class="uk-icon-button" uk-icon="youtube"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <ul uk-tab>
      <li><a href="#">Description</a></li>
      <li><a href="#">More Info</a></li>
      <li><a href="#">Shipping Charge</a></li>
      <li><a href="#">Review</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
      <li>
        {{item.pro_desc}}
      </li>
      <li>
        {{item.pro_adinfo}}
      </li>
      <li>
        <p>Shipping Fee: &nbsp; {{item.pro_shippingcharge | currency: 'INR'}}</p>
      </li>
      <li>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur, sed do eiusmod.
      </li>
    </ul>
  </div>
</div>
