<div class="admin-component">
  <div class="admin-container">
    <h2>Brands</h2>
    <div class="container">
      <div class="admin-header">
        <h3>List Of Brands</h3>
        <a href="#modal-center" uk-icon="icon: plus" uk-toggle (click)="onClickAddBtn()"></a>
      </div>
      <div class="admin-body">
        <table class="uk-table uk-table-small">
          <thead>
            <tr>
              <th>Sl.No</th>
              <th>Brand Image</th>
              <th>Brand Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let res of brands">
              <td>{{ res.brand_slno }}</td>
              <td><img class="table-img" src='http://127.0.0.1:8000{{res.brand_image}}' alt="image" /></td>
              <td>{{ res.brand_name }}</td>
              <td>
                <button
                  type="submit"
                  uk-icon="icon: trash"
                  (click)="deleteBrands(res.id)"
                ></button>
                &nbsp; &nbsp;
                <button
                  type="button"
                  uk-icon="icon: pencil"
                  uk-toggle="target: #modal-center"
                  (click)="editBrand(res)"
                ></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="modal-center" #ukmodal class="uk-flex-top modal" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="uk-modal-header">
          <h3 class="uk-modal-title">
            {{ show_add_btn ? "Add Brands" : "Update Brands" }}
          </h3>
          <button
            #ukclose
            class="uk-modal-close-default"
            type="button"
            uk-close>
          </button>
        </div>
        <div class="uk-modal-body">
          <form [formGroup]="formValue">
            <div class="uk-margin">
              <label class="uk-form-label">Sl. No</label>
              <div class="uk-form-controls">
                <input
                  class="uk-input"
                  formControlName="brand_slno"
                  type="text"
                  placeholder="Enter Sl. No"
                />
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Brand Name</label>
              <div class="uk-form-controls">
                <input
                  class="uk-input"
                  formControlName="brand_name"
                  type="text"
                  placeholder="Enter Brand Name"
                />
              </div>
            </div>

            <div class="uk-margin">
              <label class="uk-form-label">Upload Image</label>
              <div class="uk-form-controls">
                <input class="uk-input" type="text" formControlName="brand_image" (click)="triggerFile()">
                <input
                  class="uk-input"
                  #fileInput
                  formControlName="brand_image"
                  type="file"
                  placeholder="Upload Image"
                  accept="*png,jpg"
                  (change)="uploadFile($event)"
                  style="display: none;"
                />
              </div>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button *ngIf="show_add_btn" class="uk-button uk-button-primary" type="submit" (click)="addBrands()">
                    Create
                </button>
                <button *ngIf="show_update_btn" class="uk-button uk-button-primary" type="submit" (click)="updateBrands()">
                    Update
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
